:root{
        --preset--font-size--title: 24px;
        --preset--font-size--price: 24px;
        --preset--font-size--destaque: 16px;
        --preset--font-size--paragraph: 16px;
        --preset--text-transform: uppercase;
        --preset--color--black: #000000;
        --preset--color--dark-gray: #D9D9D9;
        --preset--color--light-gray: #EEEEEE;
        --preset--color--white: #ffffff;
        --preset--color--baby-blue: #E5F4FF;
        --preset--color--blue: #1298F8;
        --preset--color--green: #48D05F; /* Success */
        --preset--color--red: #E92929; /* Attention */
    }

a {
    text-decoration:none;
}

.topo{
    font-size: 1.5rem;
    height: 136px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--preset--color--baby-blue);
    display: flex;
    color:var(--preset--color--black);
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}


.topo__titulo{
    color:var(--preset--color--blue)
}

.conteudo {
    background-color: #ededed;
    padding: 32px 0;
}

.pizzas-cards{
    display: flex;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.pizzas-card__item {
    display: flex;
    max-width: 200px;
    padding: 64px 32px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 8px;
    line-height: 2rem;
    text-align: center;
    border-radius: 35px;
    background: #fff;
    box-shadow: 8px 8px 32px 0px rgba(0,0,0,0.25);
}

.pizzas-cards__img {
    width: 200px;
}

.pizzas-card__btn-add {
    color: #1298F8;
    cursor: pointer;
    font-size: 2rem;
}

.pizzas-cards__preco {
    font-family: "InterLight";
    font-size: 1.5rem;
}

.pizzas-cards__titulo {
    font-family: "InterBold";
    font-size: 2rem;
}

.pizzas-cards__texto {
    font-family: "InterRegular";
    font-size: 1rem;
}

.background-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}
 
.background-modal:target {
    visibility: visible;
    opacity: 1;
}
 
 
.modal-pizza {
    /* position: absolute;
    left: calc(50vw - 316px);
    top: calc(50vh - 160px); */   
    min-width: 400px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 16px;
    flex-direction:row;
}
 
.modal-pizza__btn-fechar {    
    width:100px;
    padding:16px;
    border-radius: 32px;
    background-color:rgb(219, 20, 20);
    text-align: center;    
    align-self: flex-start;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;    
    text-decoration: none;
    visibility: hidden;
    order: 1;
}
 
.modal-pizza__btn-fechar:hover {
    color: #bcc;
}
 
 
.modal-pizza__img {
    width: 150px;
    height: 150px;
    gap: 20px;
    align-content: flex-start;
}
 
.modal-pizza__detalhes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
 
.modal-pizza__tx-titulo {
    font-family: "InterBold";
    font-size: 2rem;
}
 
.modal-pizza__tx-preco,
.modal-pizza__tx-tamanho {
    font-family: "InterLight";
    font-size: 1rem;
    text-transform: uppercase;
}
 
.modal-pizza__preco {
    display: flex;
}
 
 
.modal-pizza__controle-tamanhos {
    display: flex;
    justify-content: center;
    font-family: "InterBold";
    font-size: 1rem;
    text-transform: uppercase;
    /* padding: 0 8px; */
    /*não colocar - demonstrar */
 
    background-color: #eee;
    border-radius: 16px;
    overflow: hidden;
}
 
.modal-pizza__tamanho {
    padding: 8px;
    cursor: pointer;
}
 
.modal-pizza__tamanho:hover {
    background-color: #1298F8;
}
 
.modal-pizza__tamanho--ativo {
    background-color: #1298F8;
}
 
.modal-pizza__tamanho span {
    font-family: "InterLight";
    font-size: 0.75rem;
}
 
.modal-pizza__qtd {
    display: flex;
    align-items: center;
    gap: 32px;
}
 
.modal-pizza__controle-qtd {
    display: flex;
    border-radius: 16px;
    width: 64px;
    height: 30px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #EEE;
}
 
.modal-pizza__menos,
.modal-pizza__mais {
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
    border: 0;
    background-color: transparent;
    font-size: 16px;
}
 
.modal-pizza__btns-area {
   display: flex;
   flex-direction: row;
   gap: 16px;
   color: rgb(255, 255, 255);
}
 
.btn--verde {
    background-color: #48D05F;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
 
.btn--vermelho {
    background-color: #E92929;
    padding: 8px 16px;
    color: white;
    border-radius: 16px;
    display: flex;
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}


.carrinho{
    visibility: hidden;
    display: flex;
    background-color: #E5F4FF;
    width: 504px;
    height: 1016px;
    flex-direction: column;
    gap: 16px;
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    position: absolute;
}

.carrinho__btn-fechar{
    justify-content: flex-end;
    text-align: end;
    padding-right: 40px;
    height: 40px;
    color: #E92929;
}

.carrinho:target{
    visibility: visible;
    position: static;
}

.tx--titulo {
    display: flex;
    padding: 16px;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.carrinho__pizzas {
    display: flex;
    justify-content: space-between;
}

.carrinho__item {
    display: flex;
    padding: 16px;
    gap: 100px;
    flex-wrap: wrap;
    flex-direction: row;
}
.carrinho__img {
    width: 80px;
    height: 80px;
}

.carrinho__text{
    font-size: 16px;
}

.carrinho__tx {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.carrinho__qtd-controle{
    display: flex;
    gap: 20px;
    height: 40px;
    width: fit-content;
    height: fit-content;
    background-color: #FFE0E0;
}

.carrinho__calculos {
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #1298F8;
    font-family: "InterLight";
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.btn--finalizar-compra {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 16px 32px;
    border-radius: 12px;
    background-color: #48D05F;
    color: white;
}

.rodape {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 1,5rem;
    height: 144px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 102px;
    flex-wrap: wrap;
    background: var(--baby-Blue, #E5F4FF);
    font-family: Inter;
    font-size: 16px;
}

.rodape__desenvolvedor{
    order: 1;
}
