@media screen and (max-width: 620px){
.rodape{
    flex-direction: column;
    height: auto;
    padding: 24px 0;
    gap: 16px;
 }

.pizzas-cards {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 } 

.pizzas-cards__preco {
    font-size: 20px;
 }

.pizzas-cards__titulo {
    font-size: 20px;
 }

.pizzas-cards__texto {
    font-size: 20px;
 }

.carrinho {
    width: 327px;
 }

 .modal-pizza {
    justify-content: center;
    flex-direction: column;
    min-width: 360px;
 }

.modal-pizza__btns{
    flex-direction: column;
    gap: 0px;
}


.modal-pizza__btn-fechar {
    visibility: visible;
    order: -1;
    align-self: flex-end;
 }

.modal-pizza__qtd {
    justify-content: center;
    flex-direction: column;
}

.modal-pizza__btn {
    width: 400px;
    align-items: center;
    justify-content: center;
}

.modal-pizza__btn--cancelar {
    visibility: hidden;
}

 .modal-pizza__detalhes {
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
}

@media screen and (max-width:1024px){
    .background-carrinho:has(.carrinho.target){
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
    }

    .carrinho:target {
        overflow-y: scroll;
        position: absolute;
    }
}